---
import BaseLayout from "../layouts/Layout.astro";
import mccImg from "../assets/mcc-logo.webp";
import mbImg from "../assets/mnnit-buzz.webp";
---

<BaseLayout
    pageTitle="Projects- Anurag Mishra"
    description="All projects by Anurag Mishra."
>
    <section class="mx-auto px-4 py-12">
        <h1 class="text-3xl md:text-4xl font-semibold mb-6">Projects</h1>
        <div class="flex flex-col gap-4">
            {
                [
                    {
                        img: mccImg,
                        title: "mnnitchessclub.com",
                        desc: "A chess server and frontend supporting PvP and tournaments.",
                        link: "https://mnnitchessclub.com",
                        id: "mcc",
                    },
                    {
                        img: mbImg,
                        title: "MNNIT Buzz",
                        desc: "A Reddit-like social app for MNNIT.",
                        link: "https://mnnit-buzz.vercel.app",
                        id: "mb",
                    },
                ].map((proj) => (
                    <a
                        href={proj.link}
                        class="group relative border border-neutral-200 dark:border-neutral-800 rounded-2xl px-6 py-4 bg-neutral-50/60 dark:bg-neutral-900/60 hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-all duration-300 shadow-sm hover:shadow-md flex flex-col justify-between"
                    >
                        <div class="absolute top-5.5 right-5.5 transition-transform group-hover:translate-x-0.5 group-hover:-translate-y-0.5">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M7 7h10m0 0v10m0-10L7 17"
                                    stroke-width="1"
                                />
                            </svg>
                        </div>
                        {proj.img && (
                            <div class="mb-2">
                                <img
                                    src={proj.img.src}
                                    alt={proj.title}
                                    class="h-12 rounded-md opacity-90 group-hover:opacity-100 transition-opacity"
                                    id={proj.id}
                                />
                            </div>
                        )}

                        <div class="flex-1">
                            <h3 class="font-semibold text-lg text-neutral-800 dark:text-neutral-100 mb-2 group-hover:text-neutral-900 dark:group-hover:text-neutral-50 transition-colors">
                                {proj.title}
                            </h3>
                            <p class="leading-relaxed ">{proj.desc}</p>
                        </div>
                    </a>
                ))
            }
        </div>
    </section>
</BaseLayout>
<style>
    :global(.dark) #mcc {
        filter: invert(1);
    }
</style>
