---
import BaseLayout from "./Layout.astro";
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description}>
    <article class="mx-auto px-4 py-12">
        <!-- Post header -->
        <header class="mb-8">
            <h1 class="text-center text-3xl md:text-4xl font-extrabold mb-2">
                {frontmatter.title}
            </h1>

            <p
                class="text-center text-sm text-neutral-500 dark:text-neutral-400"
            >
                {
                    frontmatter.pubDate.toLocaleDateString("en-GB", {
                        year: "2-digit",
                        month: "2-digit",
                        day: "2-digit",
                    })
                }
            </p>
        </header>

        <!-- Optional cover image -->
        {
            frontmatter.cover.url && (
                <div class="my-8 flex justify-center">
                    <Image
                        src={frontmatter.cover.url}
                        alt={frontmatter.cover.alt}
                        width={700}
                        height={300}
                        class="border border-neutral-200 dark:border-neutral-800"
                    />
                </div>
            )
        }

        <!-- Main content -->
        <div class="prose prose-gray lg:prose-lg dark:prose-invert max-w-none">
            <slot />
        </div>
    </article>
</BaseLayout>
